{{#each posts as |post|}}

  <div class="post my-2 border post-item rounded p-2">
    <h5 class="font-weight-bold m-2">{{post.dungeonName}}</h5>
    <h5 class="font-italic m-2 post-text">"{{post.description}}"</h5>
  </div>

{{/each}}
